/*  -------------  generale  ------------  */
* {
  background: transparent;
  color: black;
  text-shadow: none;
  filter: none;
}

body {
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  text-transform: none;
  font-size: 11pt;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  width: 100%;
}
/*  links  */
a {
    color: black;
    word-wrap: break-word;
}
a[href^="/"]:after,
a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " [" attr(href) "]";
  font-size: 90%; }

a[href^="javascript:"]:after,
a[href^="#"]:after {
  content: ""; }
#header {
  text-align: center;
}

img {
  max-width: 100%;
}

select {
  background: white;
}

#imgValidCode,
#imgValidCSS,
.hidden,
.sr-only, 
#logo, 
.userPic, 
#footer img, 
#userButtons,
.hdrButton,
.turnBack, 
.toContent
.pageNumbers {
  display: none;
}

#footer {
  display: block;
}

#footer ul {
  text-align: center;
  list-style-type: none;
}

/*index*/
#rankingTopReview img{
  width:10%; 
  padding: 1em;
}

#rankingTopReview li{
  list-style-type: decimal;
}

.searchForm, #indexRicerca {
  display: none;
}

#rankingLastReview .username, #rankingLastReview .stelle{
  display: block;
}

/*chisiamo*/
#staff ul{
  list-style-type: none;
}

#staff dt{
  float: left;
}

#staff dd:before{
  content:": ";
}

/*contatti*/

#contact_message {
  display: none;
}

/*ricerca*/

.buttonDettagli {
  display: none;
}

.book h3 {
  clear: left;
}

.book dt {
  float: left;
  display: inline;
}

.book dt {
  clear: left;
}


.book img {
  width: 20%;
}











