/*general rules*/
* {
    padding: 0em;
    margin: 0em;
}

a:link {
    color: yellow;
}

a:visited {
    color: aquamarine;
}

html, body {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0em auto;
    padding: 0em
}

#content h2 {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

#content h2:first-child {
    margin-top: 0;
}


html {
    background-image: url("../img/background/background.jpg");
    background-color: burlywood;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

/* font */
body {
    background-color: burlywood;
    font-family: Geneva, Tahoma, sans-serif;
    width: 100%;
}

#content {
    margin-left: 17%;
    padding: 1em;
    background-color: antiquewhite;
}


/*footer*/
#footer {
    background-color: peru;
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
}

#footerlist {
    list-style-type: none;
}

.turnBack {
    margin-top: 1em;

}

.turnBackLink, .toContent {
    border: 1px solid black;
    background-color: brown;
    padding: 0.3em;
    text-align: center;
    border-radius: 0.5em;
}

/*header*/
#header {
    background-color: peru;
    color: #010151;
    padding: 1em;
    overflow: hidden;
}

#header h1 {
    padding-top: 5%;
}

#header h2 {
    margin-bottom: 10%;
}




#header img {
    max-width: 25%;
    padding-left: 15%;
    float: left;
}



#userButtons {
    float: right;
}

.hdrButton {
    display: inline-block;
    background-color: brown;
    color: #ffffff;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 0.1em solid black;
    padding: 0.6em 1.5em;
    font-size: 1em;
    margin: 0.2em 0.2em;
}

#logo {
    max-width: 15em;
}

#breadcrumb {
    padding: 1em;
    margin: 0em;
    color: white;
    background-color: sienna;
}



/*menu*/
#menu {
    margin-top: 7em;
    float: left;
    width: 17%;
    border-bottom: none;
}

.menu-list {
    list-style-type: none;
    text-align: center;
    font-size: 1.15em;
    
}

.menu-list li .hdrButton{
    display: block;
    background-color: brown;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.2em;
    margin: 1em;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    padding: 12px 20px;
}

/* Style the container */
.container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    margin-top: 6px;
    width: 25%;
}

/* Floating column for labels: 50% width */
.col-50 {
    float: left;
    margin-top: 6px;
    width: 50%;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    margin-top: 6px;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    clear: both;
    display: table;
}

.containerPrevNextBtn {
    overflow: auto;
}

input.invalid {
    background-color: #ffdddd;
}

#prevBtn {
    background-color: #bbbbbb;
}

.insertForm {
    display: block;
}

.sr-only {
    display: none;
}


.errorImg{
    max-width: 90%;
    max-height: 20em;
}

.hidden {
    display: none;
}

/* profile pictures in forms */
ul.proPic img {
    height: 3em;
}

.proPic {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.proPic > li {
    flex: 1 1 200px;
}

/*pagina utente*/

.imgWrapper {
    margin-top: 1em;
    width: 9em;
    height: 9em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: white;
    border: 0.2em solid black;
}

.userPic {
    margin-top: 1em;
    width: 7em;
}

.userInfo {
    display: block;
    margin:1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 3em;
}
#editUser {
    margin:2em;
}

#editLink{
    background-color: brown;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.3em;
    margin: 1em;
}

.newAuthorGenre {
    list-style-type: none;
    padding:1em;
}
.newAuthorGenre > li{
    margin: 2em 2em 0em;
}
.newAuthorGenre a{
    background-color: brown;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.3em;
    margin: 2em;
}

#addBook {
    text-align: center;
    font-size: 1.2em;
    display: block;
    background-color: brown;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.8em;
    margin: 2em;
}

/*classifiche - homepage*/

#rankingTopReview ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#rankingTopReview li{
        list-style: none;
        width: 14em;
        height: 22em;
        margin:0.5em;
        padding: 1em;
        background-color: peru;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
}

#rankingTopReview li
{
    font-weight:bold; 
}

#rankingTopReview img {
    border-radius: 1em;
    height: 15em;
    border: 0.2em solid white;
    margin-top: 1em;
}

#rankingTopReview dt {
    background-color: sienna;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
    padding: 0.2em;
    height: 4em;
}

#rankingTopReview dd{
    display: block;
    text-align: center;
}


#rankingLastReview, #rankingTopReview {
    margin-top: 1.5em;
}

#rankingLastReview ol{
    list-style-type: none;
}


#rankingLastReview .stelle:before {
    content: "Stelle: ";
}

#rankingLastReview img{
    margin: auto;
}

#rankingLastReview dt{
    font-weight:bold;
}

/*chi siamo - staff*/

#staff ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#staff h4{
    padding: 0.5em;
    font-size: 150%;
}

#staff img{
    display: block;
    margin:auto;
}

#staff li{
    list-style: none;
    width: 16.5em;
    margin:0.5em;
    padding: 1em;
    margin:1em;
    border-radius: 2em;
    background-color: peru;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
}

#staff dd{
    display: block;
    float: left; 
}

#staff dt{
    display: block;
    float: left; 
}

#staff dt{
    clear: left;
    font-weight: bold;
}

#staff dd:before{
    content:": ";

}

#staff dl{
    padding-top: 0.5em;
}




/*dettagli libro*/

.buttonDelete {
    background-color: #822323;
    color: white;
}

/*area libro*/
#bookArea {
    /*border: 2px solid;*/
    padding: 2em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookArea h2 {
    font-size: 2em;    
}

#bookFrontpage img{
  max-width: 40%;
  width: 15em;
  border-radius: 1em;
  border: 0.2em solid white;
  float:left;
  margin: 3%;
}

#bookDetails dt:before {
  content: "";
  display: block;
}

#bookDetails {
    margin: 3%;
}

#bookDetails dt, dd {
    display: inline;
}

#bookDetails dt {
    font-weight: bold;
    
}


/*area recensioni*/
#reviewArea {
    padding-top: 2em;
}


#insertReviewButton {
    margin: 0.5em 0 0.5em 0;
}

#reviewAverage {
    margin-bottom: 0.3em;
}

input.reviewButton {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float:none;
}

.reviewDetails img {
  float: left;
  max-width: 10%;
  min-width: 2em;
  width: 3em;

}

li.review::marker{ /*TODO*/
  margin: 0;
  padding: 0;
}

li.review {
    list-style-type: none;
}

.reviewDetails {
    margin: 0.3em;
    padding: 0.2em;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: sienna;
    color: white;
}

.review {
    background-color: peru;
    border-radius: 0.5em;
}

.reviewContent {
    padding:0.5em 0.5em 0.8em 0.5em;
}

.stelle {
    display: block;
    margin: 0.3em 0 0 0.3em;
    font-weight: bold;
}


 .stelleCounter {
    display: inline;
}
.reviewDetails .username {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}


.reviewDatetime {
    font-family: monospace;
    display: block;
}

.userDetails p {
    vertical-align: middle;
}

.reviewDetails .buttonDelete {
    border: 1px solid white;
}

/*numeri pagine*/

.pageNumbers {
    margin-top: 1em;
    text-align: center;
}

.currentPage {
    background-color: peru;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}

.notCurrentPage {
    background-color: brown;
    color: white;
    border-radius: 0.2em;
    display: inline-block;
    width: 6em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;

}

.currentPage span, .notCurrentPage a {
    position: relative;
    top: 0.15em;
}



/*RECENSIONI*/

#content #reviewTitlePhrase {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0.5em;
}


#insertReview {
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookAreaReview img {
    max-width: 50%;
    width: 10em;
    border-radius: 1em;
    float:left;
    margin: 1em 3em 0 0;
}

#formReview fieldset {
    margin: 1em;
}

#formReview legend {
    font-weight: bold;
    font-size: 1.1em;
}

.formLabel{
    background-color: sienna;
    color: white;
    border-radius: 1em;
    margin: 0.2em 0.1em 0.3em 0.1em;
    padding: 0.7em;
}

/*RICERCA*/

.book{
    padding: 1em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

.book img{
    width: 5em;
    border-radius: 1em;
    margin: 1em 3em 0.5em 0;
    float:left;
    border: 0.1em solid white;
}

.book {
    list-style-type: none;
}

.book dl {
    margin: 3em 0.5em 0 0;
}

.book dt {
    font-weight: bold;
    display: inline;
}

.book dt:before {
    content: "";
    display: block;
}

.book dd:before {
    content: " ";
}

.book {
    margin-top: 1em;
}

.linkRegistrazione{
    background-color: brown;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.2em;
    margin: 1em;
}

/*error e success message*/
.errorMessage {
    margin:0.2em;
    padding: 0.2em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #fce4e4;
    border: 1px solid #ff0307;
    border-radius: 0.2em;
    color: #cc0033;
}

.successMessage {
    margin:0.8em;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eefce4;
    border: 1px solid #039200;
    border-radius: 0.2em;
    color: #00ae08;
}


/*----------------------------------*/

/*mobile*/

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
    }
    
    #content {
        margin-left: 0;
    }
    
    #logout {
        display: block;
        width: 4em;
    }
    
        #header {
            overflow: hidden;
        }

        #header h1 {
            padding-top: 5%;
        }


        #header img {
            min-width: 30%;
            padding-left: 0;
        }



    
    #menu {
        margin-top: 0em;
        float: none;
        width: 100%;
    }
    
    #bookAreaReview bookFrontpage {
        margin-left: auto;
        margin-right: auto;
    }
    
    #bookAreaReview img {
    max-width: 80%;
    width: 15em;
    float: none;
    display: block;
    margin: 1em auto 1em auto;
    }
    
    #formReview fieldset {
        display: block;
    }      
}

@media screen and (max-width: 600px) {
    .col-25, .col-50, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    
    
    
    .reviewDetails .buttonDelete {
        width: 40%;
        padding: 0.6em 0em 0.6em 0em;

    }
    
}




input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid sienna;
  outline-offset: 0; }

option:active,
option:checked {
  color: #fff;
  background-color: #005ea5; }



  .button {
  background-color: #00823b;
  position: relative;
  display: inline-block;
  padding: .526315em .789473em .263157em;
  border: none;
  border-radius: 0;
  outline: 1px solid transparent;
  outline-offset: -1px;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  box-sizing: border-box;
  vertical-align: top; }
  .button:visited {
    background-color: #00823b; }
  .button:hover, .button:focus {
    background-color: #00692f; }
  .button:active {
    top: 2px;
    box-shadow: 0 0 0 #00823b; }
  .button.disabled, .button[disabled="disabled"], .button[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
    .button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
      cursor: default;
      background-color: #00823b; }
    .button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
      top: 0;
      box-shadow: 0 2px 0 #003618; }
  .button:link, .button:link:focus, .button:hover, .button:focus, .button:visited {
    color: #fff; }
  .button:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0; }

  .button:active:before {
    top: -10%;
    height: 120%; }
  @media (max-width: 640px) {
    .button {
      width: 100%;
      text-align: center; 
      }
    }
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
  background: #00823b;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

#img_cover_preview{
  width: 100%;
}
