/*general rules*/
* {
    padding: 0em;
    margin: 0em;
}

a {
    background: brown;
    display: inline-block;
}

a:link {
    color: yellow;
}

a:visited {
    color: aquamarine;
}

html, body {
    max-width: 1024px;
    min-height: 50vh;
    margin: 0em auto;
    padding: 0em
}

#content h2 {
    font-size: 1.9em;
    margin-top: 0em;
    margin-bottom: 0.6em;
}


#content h3 + h4 {
    margin-top: 0.6em;
}
#content h3 {
    font-size: 1.5em;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
}

#content h4 {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 0.4em;
}

#content h5 {
    font-size: 1em;
}




html {
    background-image: url("../img/background/background.jpg");
    background-color: burlywood;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

/* font */
body {
    background-color: burlywood;
    font-family: Geneva, Tahoma, sans-serif;
    width: 100%;
}

#content {
    margin-left: 17%;
    padding: 1em;
    background-color: antiquewhite;
}


/*footer*/
#footer {
    background-color: peru;
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
}

#footerlist {
    list-style-type: none;
}


.toContent {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);	
}

.turnBackLink {
    display: none;
}

/*header*/
#header {
    background-color: peru;
    color: #010151;
    padding: 1em;
    overflow: hidden;
}

#header h1 {
    padding-top: 4%;
}

#header h2 {
    margin-bottom: 8%;
}

#header .button:visited {
    color: aquamarine;
}

#header .button:link {
    color: yellow;
}


#header img {
/*    max-width: 25%;*/
    margin-left: 13%;
    margin-right: 3%;
    float: left;
}



#userButtons {
    float: right;
}

.hdrButton {
    background-color: brown;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border: 0.1em solid black;
    color: #ffffff;
    display: inline-block;
    font-size: 1em;
    margin: 0.2em 0.2em;
    padding: 0.6em 1em;
    text-align: center;
}

.hdrButton:hover{
    background-color: #2A1B0E;
}

#logo {
    max-width: 12em;
}

#breadcrumb {
    background-color: sienna;
    color: white;
    margin: 0em;
    padding: 1em;
}

#breadcrumb a, #footer a {
    background-color: sienna;
}


/*menu*/
#menu {
    display: block;
    margin-top: 7em;
    float: left;
    width: 17%;
    border-bottom: none;
}
#menu ul li .menuItemSelected{
    color: #ffffff;
    font-weight: bold;
}
#menu ul {
    font-size: 1.35em;
    line-height: 2em;
}

#menu ul li{
    list-style: none;
    background-color: brown;
    text-align: center; 
    border-bottom: 1px solid black;
}

#menu ul li a:hover{
    background-color: #2A1B0E;
    color: white;
}

#menu ul li a{
    width: 100%; 
    display: inline-block;
}


/* Style inputs, select elements and textareas */
input[type=text],input[type=password], select, textarea {
    border: 1px solid #0b0c0c;
    box-sizing: border-box;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

/* Style the label to display next to the inputs */
label {
    padding: 0.75em 0.75em 0.75em 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
   float: right;
}

/* Style the container */
.container {
    background-color: #f2f2f2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1.2em;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    margin-top: 0.3em;
    width: 25%;
}

/* Floating column for labels: 50% width */
.col-50 {
    float: left;
    margin-top: 0.3em;
    width: 50%;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    margin-top: 0.3em;
    width: 75%;
}

/* Clear floats after the columns */
.row{
    width: 100%; 
    display: inline-block;
    /*box-sizing: border-box;*/
    margin-bottom: 0.6em;
}

.titleLogo{
    width: 100%; 
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.6em;
    clear: both;
    overflow: auto;
}

.titleLogo::after {
    content: "";
    display: table;
    clear: both;
}
.containerPrevNextBtn {
    overflow: auto;
}

input.invalid {
    background-color: #ffdddd;
}

#prevBtn {
    background-color: #bbbbbb;
}

.insertForm {
    display: block;
}

.sr-only {
    display: none;
}


.errorImg{
    max-width: 90%;
    max-height: 20em;
}

.hidden {
    display: none;
}

/* profile pictures in forms */
ul.proPic img {
    height: 3em;
}

.proPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.proPic > li {
    flex: 1 1 5em;
}

/*form*/

legend {
    position: relative;
    top: 1em;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
}

fieldset {
    border: none;
    background-color: burlywood;
    padding: 1em;
    padding-bottom: 0;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;

    
}




/*pagina utente*/

.imgWrapper {
    margin-top: 1em;
    width: 9em;
    height: 9em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-color: white;
    border: 0.2em solid black;
}

.userPic {
    margin-top: 1em;
    width: 7em;
}

.userInfo {
    display: block;
    margin:1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 1em;
}

#panel{
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: peru;
    padding:0.5em;
}
#editUser {
    margin:2em;
}


.newAuthorGenreBook {
    list-style-type: none;
    padding:1em;
}

#warningMessage {
    margin:1em;
}

/*classifiche - homepage*/

#rankingTopReview ol{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#rankingTopReview li{
        list-style: none;
        width: 14em;
        height: 24em;
        margin:0.5em;
        padding: 1em;
        background-color: peru;
        border-radius: 1em;
        -webkit-border-radius: 1em;
        -moz-border-radius: 1em;
}

#rankingTopReview li
{
    font-weight:bold;     
}
#rankingTopReview dt {
    display: table-cell;
    font-size: 100%;
    background-color: maroon;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
    padding-top: 0.3em;
    height: 4.3em;
    width: 15em;
    border: 0.05em solid black;
}


#rankingTopReview img {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    height: 15em;
    border: 0.2em solid white;
    margin-top: 1em;
}

#rankingTopReview dd{
    display: block;
    text-align: center;
}

#rankingTopReview a {
    background: transparent;
    display:block; 
    height:100%; 
}


#rankingLastReview, #rankingTopReview {
    margin-top: 1.5em;
}

#rankingLastReview ol{
    list-style-type: none;
}

#rankingLastReview h5{
    font-size: 100%;
    background-color: maroon;
    border-radius: 0.5em 0.5em 0 0;
    -webkit-border-radius: 0.5em 0.5em 0 0;
    -moz-border-radius: 0.5em 0.5em 0 0;
    padding: 0.5em;
    margin-top: 1em;
    text-align: center;
    border: 0.05em solid black;
}


#rankingLastReview .stelle:before {
    content: "Stelle: ";
}

#rankingLastReview img{
    margin: auto;
}

#rankingLastReview dt{
    font-weight:bold;
}

#rankingLastReview a {
    background: transparent;
    display:block; 
    height:100%; 
}

/*chi siamo - staff*/

#staff ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#staff h4{
    font-size: 150%;
    border-bottom: 0.2em solid maroon;
}

#staff img{
    display: block;
    margin:auto;
}

#staff li{
    list-style: none;
    width: 16.5em;
    margin:0.5em;
    padding: 1em;
    margin:1em;
    background-color: peru;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    text-align: center;
}

#staff dd{
    display: block;
    float: left; 
}

#staff dt{
    display: block;
    float: left; 
}

#staff dt{
    clear: left;
    font-weight: bold;
}

#staff dd:before{
    content:": ";

}

#staff dl{
    padding-top: 0.5em;
}




/*dettagli libro*/

#bookArea .button {
    float: none;
    border: 1px solid white;
    margin-bottom: 1em;
}

.buttonDelete {
    background-color: #822323;
    color: white;
}

/*area libro*/
#bookArea {
    /*border: 2px solid;*/
    padding: 2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookTitle h3 {
    margin-top: 0;
}

#bookFrontpage img{
  max-width: 40%;
  width: 15em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
  border-radius: 1em;
  border: 0.2em solid white;
  float:left;
  margin: 0 3% 2% 3%;
}

#bookDetails dt:before {
  content: "";
  display: block;
}

#bookDetails {
    margin: 3%;
}

#bookDetails dt, dd {
    display: inline;
}

#bookDetails dt {
    font-weight: bold;
    
}


/*area recensioni*/
#content #reviewTitlePage {
    font-size: 1.4em;
}


#insertReviewButton {
    margin: 0.5em 0 0.5em 0;
}

#reviewAverage {
    margin-bottom: 0.3em;
}

#insertReviewButton {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float:none;
}
#reviewArea .reviewDetails .button {
    border: 1px solid white;
    padding: 0.5em;
}


.reviewDetails img {
  float: left;
  max-width: 10%;
  min-width: 2em;
  width: 3em;

}


li.review {
    list-style-type: none;
}

.reviewDetails {
    margin: 0.3em;
    padding: 0.2em;
    overflow: hidden;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background-color: sienna;
    color: white;
}

.review {
    background-color: peru;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
}

.reviewContent {
    padding:0.5em 0.5em 0.8em 0.5em;
}

.stelle {
    display: block;
    margin: 0.3em 0 0 0.3em;
    font-weight: bold;
}


 .stelleCounter {
    display: inline;
}
.reviewDetails .username {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}


.reviewDatetime {
    font-family: monospace;
    display: block;
}

.userDetails p {
    vertical-align: middle;
}

.reviewDetails .buttonDelete {
    border: 1px solid white;
}

/*numeri pagine*/

.pageNumbers {
    margin-top: 1em;
    text-align: center;
}

.currentPage {
    background-color: peru;
    margin: 0.2em 0.2em 0.2em 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}

.notCurrentPage {
    background-color: maroon;
    color: white;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    width: 6em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;

}

.currentPage span, .notCurrentPage a {
    background-color: transparent;
    position: relative;
    top: 0.15em;
}



/*RECENSIONI*/


#insertReview {
    padding: 1em;
    margin-bottom: 3em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookAreaReview img {
    max-width: 50%;
    width: 10em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    float:left;
    margin: 1em 3em 0 0;
}

#formReview fieldset {
    margin: 1em;
}

#formReview legend {
    font-weight: bold;
    font-size: 1.1em;
}

.formReviewLabel{
    background-color: sienna;
    color: white;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: 0.2em 0.1em 0.3em 0.1em;
    padding: 0.7em;
}

/*RICERCA*/

.book{
    padding: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

.book img{
    width: 5em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin: 1em 3em 0.5em 0;
    float:left;
    border: 0.1em solid white;
}

.book {
    list-style-type: none;
}

.book dl {
    margin: 3em 0.5em 0 0;
}

.book dt {
    font-weight: bold;
    display: inline;
}

.book dt:before {
    content: "";
    display: block;
}

.book dd:before {
    content: " ";
}

.book {
    margin-top: 1em;
}

.book h3{
    
    margin: 0.2em;
    border-bottom: 0.2em solid maroon;
}

.linkRegistrazione{
    background-color: maroon;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    border: 1px solid black;
    padding: 0.2em;
    margin: 1em;
}

/*error e success message*/
.errorMessage {
    margin:0.2em;
    padding: 0.2em;
    font-weight: bold;
    font-size: 1em;
    background-color: #fce4e4;
    border: 1px solid #ff0307;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    color: #cc0033;
}

.successMessage {
    margin:0.8em;
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #eefce4;
    border: 1px solid #039200;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    border-radius: 0.2em;
    color: #00ae08;
}


/*pagina d'errore*/

#errorPageExplanation {
    margin-top: 1em;
    margin-bottom: 2em;
}

#errorImg {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  padding: 1em;
  max-width: 60%
}

#errorLinkHome {
    display: inline;
    padding: 0.2em;
}


/*----------------------------------*/

/*mobile*/

@media screen and (max-width: 768px) {
    
    body {
        width: 100%;
    }
    
    #content {
        margin-left: 0;
    }

    
    #header {
        overflow: hidden;
    }

    #header h1 {
        padding-top: 5%;
    }


    #header img {
        min-width: 30%;
        margin-left: 0;
    }

    #breadcrumb {
        border-bottom: 1px solid black;
        padding: 0.8em 1em;
    }

    #menu {
        margin-top: 0em;
        float: none;
        width: 100%;
    }
    #menu ul {
       font-size: 1.3em;
        line-height: 1.8em;
    }
    #reviewArea .reviewDetails .button {
        width: auto;
        font-size: 1em;
        padding:0.3em;
    }
    
    #bookAreaReview bookFrontpage {
        margin-left: auto;
        margin-right: auto;
    }
    
    #bookAreaReview img {
    max-width: 80%;
    width: 15em;
    float: none;
    display: block;
    margin: 1em auto 1em auto;
    }
    
    #formReview fieldset {
        display: block;
    }      
}

@media screen and (max-width: 600px) {
    .col-25, .col-50, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
/*    #userButtons {
        float: left;
        width: 80%;
    }*/
    .button {
      text-align: center; 
      width: 100%;
    }
    .hdrButton {
      width: 100%;
    }

    .turnBackLink {
        background-color: brown;
        border: 0.1em solid black;
        border-radius: 1em;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        color: #ffffff;
        margin: 0.2em 0.2em;
        padding: 0.6em;
        text-align: center;
        float: none;
        width: 85%;
        display: inline-block;
    }

    h1 {
        font-size: 1.45em;
        margin-bottom: 0;

    }

    #header h2 {
        display: none;  
    }
    
    #header img { /*TODO*/
        width: 4em;
        margin-bottom: 1em;
    }
    .mobileHidden{
        display: none;
    }
    .reviewDetails .buttonDelete {
        width: 40%;
        padding: 0.6em 0em 0.6em 0em;

    }
    

    #header .button {
        width: auto;
        padding: 0.4em;
        margin: 0;
        margin-top: 0.2em;
        /*margin-left: 0;*/
        /*margin-right: 1%;*/
    }
      #toHide {
          display: none;
      }
    
}


#img_cover_preview{
  width: 100%;
}

.formLabel {
    font-weight: 400;
    text-transform: none;
    font-size: 1.15em;
    line-height: 1.25; 
    display: block;
    color: #0b0c0c;
    padding-bottom: 0.2em;
}

.formHint {
      display: block;
      color: #3e3e3e;
      font-weight: normal;
      margin-top: -0.2em;
      padding-bottom: 0.2em; 
      font-size: 1em;
      line-height: 1.25; 
}

#userButtonsWrapper a, #editLink {
    width: 100%; 
    display: inline-block;
    margin-bottom: 0.5em;
}

#userButtonsWrapper a:link, #editLink a:link {
    color: yellow;
}

#userButtonsWrapper a:visited, #editLink a:visited {
    color: aquamarine;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 3px solid sienna;
}

option:active,
option:checked {
  color: #fff;
  background-color: #005ea5; 
}




.button {
    background-color: brown;
    border: none;
    box-shadow: 0 2px 0 #003618;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1.25;
    padding: .6em 1.3em;
    position: relative;
    vertical-align: top;
    margin: 0.2em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

  .button:hover, .button:focus {
    background-color: #2A1B0E;
}

  .button[disabled="disabled"] {
    opacity: 0.5; 
   }
    .button[disabled="disabled"]:hover {
      cursor: default;
      background-color: #00823b; 
   }

.button:link, .button:link:focus, .button:hover, .button:focus, .button:visited {
    color: #fff;
}
.button:before {
    background: transparent;
    content: "";
    display: block;
    height: 110%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.button:active:before {
    height: 120%;
    top: -10%;
}


