/*general rules*/
* {
    padding: 0em;
    margin: 0em;
}

html, body {
    max-width: 1024px;
    min-height: 100vh;
    margin: 0em auto;
    padding: 0em
}


html {
    background-image: url("../img/background/background.jpg");
    background-color: burlywood;
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}
/* font */
body {
    background-color: burlywood;
    font-family: Geneva, Tahoma, sans-serif;
    width: 100%;
}

#content {
    margin-left: 20%;
    width: 70%;
    background-color: burlywood;
    padding: 1em;
}

/*footer*/
#footer {

    background-color: peru;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
}

#footerlist {
    list-style-type: none;
}

/*header*/
#header {
    background-color: peru;
    text-align: center;
    color: #010151;
    padding:1em;
}
#header h2 {
    padding-bottom: 1em;
}

#userButtons{
    float:right;
}

#header .button{
    background-color: brown;
    color: #ffffff;
    border-radius:1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border: 0.1em solid black;
    padding: 0.6em 1.5em;
    font-size: 1em;
    margin: 0.2em 0.2em;
}

#logo {
    max-width: 15em;
}

#breadcrumb {
    padding: 1em;
    margin: 0em;
    color: yellow;
    background-color: sienna;
}

/*menu*/
#menu {
    margin-top: 10em;
    float: left;
    width: 18%;
    border-bottom: none;
}

.menu-list{
    list-style-type: none;
    text-align: center;
    font-size: 1.15em;
}

.menu-list li {
    padding: 1em;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */
input[type=submit] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    padding: 12px 20px;
}

/* Style the container */
.container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    margin-top: 6px;
    width: 25%;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    margin-top: 6px;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    clear: both;
    display: table;
}

.containerPrevNextBtn {
    overflow: auto;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: block;
}

.btn {
    /*  display: block;
  */
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}


.insertForm {
    display: block;
}

.sr-only {
    display: none;
}



/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none; /*hide original SELECT element: */
}


.show {
    display: block;
}


.listbox-area {
    padding: 20px;
    background: #eee;
    border: 1px solid #aaa;
    font-size: 0;
}

.left-area,
.right-area {
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    width: 50%;
}

.left-area {
    padding-right: 10px;
}

.right-area {
    padding-left: 10px;
}

[role="listbox"] {
    min-height: 18em;
    padding: 0;
    background: white;
    border: 1px solid #aaa;
}

[role="option"] {
    display: block;
    padding: 0 1em 0 1.5em;
    position: relative;
    line-height: 1.8em;
}

[role="option"].focused {
    background: #bde4ff;
}

[role="option"][aria-selected="true"]::before {
    content: 'âœ“';
    position: absolute;
    left: 0.5em;
}


.move-right-btn {
    padding-right: 20px;
    position: relative;
}

.move-right-btn::after {
    content: ' ';
    height: 10px;
    width: 12px;
    background-image: url('../imgs/Arrows-Right-icon.png');
    background-position: center right;
    position: absolute;
    right: 2px;
    top: 6px;
}

.move-left-btn {
    padding-left: 20px;
    position: relative;
}

.move-left-btn::after {
    content: ' ';
    height: 10px;
    width: 12px;
    background-image: url('../imgs/Arrows-Left-icon.png');
    background-position: center left;
    position: absolute;
    left: 2px;
    top: 6px;
}

#ss_elem_list {
    max-height: 18em;
    overflow-y: auto;
    position: relative;
}


.hidden {
    display: none;
}

/* profile pictures in forms */
ul.proPic img {
    height: 3em;
}

.proPic {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.proPic > li {
    flex: 1 1 200px;
}

/*pagina utente*/

.imgWrapper{
    width:9em;
    height: 9em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 0.2em solid black;
}

.userPic {
    margin-top: 1em;
    width: 7em;
}
.userInfo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/*dettagli libro*/

.buttonDelete {
    background-color: #822323;
    color: white;
}

/*area libro*/
#bookArea {
    /*border: 2px solid;*/
    padding: 2em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookFrontpage img{
  max-width: 40%;
  width: 15em;
  border-radius: 1em;
  float:left;
  margin: 3%;
}

#bookDetails dt:before {
  content: "";
  display: block;
}

#bookDetails {
    margin: 3%;
}

#bookDetails dt, dd {
    display: inline;
}

#bookDetails dt {
    font-weight: bold;
    
}

#bookDetails dt:first-of-type, dd:first-of-type {

}

/*area recensioni*/
#reviewArea {
    padding-top: 2em;
}

#reviewArea h2 {
    padding-bottom: 0.51em;
}

#insertReviewButton {
    margin: 0.5em 0 0.5em 0;
}

#reviewAverage {
    margin-bottom: 0.3em;
}

input.reviewButton {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float:none;
}

.reviewDetails img {
  float: left;
  max-width: 10%;
  min-width: 2em;
  width: 3em;

}

li.review::marker{ /*TODO*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.reviewDetails {
    margin: 0.3em;
    padding: 0.2em;
    overflow: hidden;
    border-radius: 0.5em;
    background-color: sienna;
    color: white;
}

.review {
    background-color: peru;
    border-radius: 0.5em;
}

.reviewContent {
    padding:0.5em 0.5em 0.8em 0.5em;
}

.stelle {
    display: block;
    margin: 0.3em 0 0 0.3em;
    font-weight: bold;
}

.stelle {
    
}

 .stelleCounter {
    display: inline;
}
.reviewDetails .username {
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}


.reviewDatetime {
    font-family: monospace;
    display: block;
}

.userDetails p {
    vertical-align: middle;
}

.reviewDetails .buttonDelete {
    border: 1px solid white;
}

/*numeri pagine*/

.pageNumbers {
    margin-top: 1em;
    text-align: center;
}

.currentPage {
    background-color: peru;
    margin: 0.2em 0.2em 0.2em 0.2em;
    border-radius: 0.2em;
    display: inline-block;
    width: 2em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;
}

.notCurrentPage {
    background-color: brown;
    color: white;
    border-radius: 0.2em;
    display: inline-block;
    width: 6em;
    height: 1.8em;
    text-align: center;
    vertical-align: middle;

}

.currentPage span, .notCurrentPage a {
    position: relative;
    top: 0.15em;
}


/*
* {
    display: none;
}
*/


/*RECENSIONI*/

#reviewTitlePhrase {
    font-size: 1.2em;
    margin-bottom: 1em;
}


#insertReview {
    padding: 1em;
    margin-bottom: 3em;
    border-radius: 1em;
    background-color: peru;
    overflow: hidden;
}

#bookAreaReview img {
    max-width: 50%;
    width: 10em;
    border-radius: 1em;
    float:left;
    margin: 1em 3em 0 0;
}

#formReview fieldset {
    margin: 1em;
}

#formReview legend {
    font-weight: bold;
    font-size: 1.1em;
}

.formLabel{
    background-color: sienna;
    color: white;
    border-radius: 1em;
    margin: 0.2em 0.1em 0.3em 0.1em;
    padding: 0.7em;
}


















/*----------------------------------*/

/*mobile*/

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    
    #header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    #menu {
        margin-top: 0em;
        float: none;
        width: 100%;
        background-color: burlywood;
    }
    
    #bookAreaReview bookFrontpage {
        margin-left: auto;
    margin-right: auto;
    }
    
    #bookAreaReview img {
    max-width: 80%;
    width: 15em;
    float: none;
    display: block;
    margin: 1em auto 1em auto;
}
    
    #formReview fieldset {
        display: block;
    }   

    
   
}



@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
    
    .reviewDetails .buttonDelete {
        width: 40%;
        padding: 0.6em 0em 0.6em 0em;

    }
    
}


