<img id="imgValidCode" src="../img/valid-xhtml10.png" alt="Simbolo che certifica uso di Html valido"/>
    <img id="imgValidCSS" src="../img/vcss-blue.gif" alt="Simbolo che certifica uso di CSS valido"/>
    <ul id="footerlist">
        <li><span xml:lang="en"> Between the Lines</span> - Opinioni sui libri</li>
        <li>049-267276 - Padova, Via Paolotti 5</li>
        <li xml:lang="en">betweenthelines@gmail.com</li>
        <li xml:lang="en">Copyright &copy; 2020 - All Rights Reserved</li>
    </ul>