<div id="header">
        <img id="logo" src="../img/btllogo.png" alt="Libro aperto stilizzato"/>
        <h1 xml:lang="en">Between the Lines</h1>
        <h2 xml:lang="en">A world of books for young and old people</h2>
        <div id="userButtons">
            <a href="../php/login.php" class="button">LOGIN</a>
            <a href="../php/registrazione.php" class="button">REGISTRAZIONE</a> 
            <a href="../php/logout.php" class="button">LOGOUT</a>
        </div>
        <a class="toContent" href="#content">Vai al contenuto</a>
</div>


